<form action="/articles/<%= @article.id %>/edit">
  <p><%= @article.title %></p>
  <p><%= @article.content %></p>
  <input type="submit" value="Edit">
</form>

<%= form_with model: Comment.new, local: true do |form| %>
  <%= form.label :body, value: "Comment"%>
  <%= form.text_field :body%>
  <%= form.label :email%>
  <%= form.email_field :email %>
  <%= form.submit %>
<%end%>
